@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cormorant+Infant:wght@700&family=Dela+Gothic+One&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.menu,.details .descps{
    display: none;
}
.container{
    width:95vw;
    height:85vh;
    background:url('../img/2433205.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin:3rem 0em 3.5em 1.5rem;
    border-radius: .5em;
}
.nav{
    padding: 1rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.logo{
    text-transform: uppercase;
    font-size: 2rem;
}
.nav-options li{
    list-style: none;
    display: inline;
    margin-right:2rem ;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    transition: border-bottom 450ms ease;
}
.sign-up{
    font-weight: bolder;
    padding: .3em;
    background-color: white;
    color: black;
    text-align: center;
    outline:2px solid rgb(35, 33, 41);
    transition: outline-offset 350ms ease-in-out;


}
.sign-up a{
    margin-top: 3px;
    color: black;
    position:relative;
    top: -7px;
}
.sign-up .email{
    margin-top: 3px;
}

.sign-up:hover{
    outline:2px solid rgb(35, 33, 41);
    outline-offset: -3px;

}
li a:hover{
    border-bottom: 1px solid white;

}
.details{
    margin:3rem 0 0 3rem;
    width:38%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fade 700ms ease-in-out 1 forwards 500ms;

}
.details .descp,.details .descps{
    border-left:2px solid white ;
    padding-left: 1rem;
    margin: 2rem;
    font-size: .8em;

}
.details .login{
    margin: 2rem 1rem 0 0;  
    align-self: flex-end;
    padding: .3rem .7rem;
    border: 2px solid white;
    border-radius: 5px;
    transition: background 500ms ease;
}
.details .login:hover{
    background: white;
    color: black;
    font-weight: bolder;
}
.one{
    z-index: -1;
    width:100%;
    position: sticky;
    top: 0;
}
.one img{
    width:60%;
    float: right;
    margin-right: 5rem;
}
div[class*='feature']{
    z-index: 10;
    color: white;
    background-color: red;
    clear: both;
    height:100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
div[class*='feature'] .left{
    font-size: 3em;
}
div[class*='feature'] .right{
    font-family: 'Poppins';
    width: 50%;}
    div[class*="two"]{z-index: -1;
    position: sticky;
top: 0;}
    div[class*="two"] .h1{
        margin: 0;
        margin-right:5rem;
        text-align: right;
        font-family: 'Anton', serif;
        color: white;
        background-color: black;
        font-size: 33.5em;

    }
    div[class="feature-2"]{
        background-color: #7cbb00;
    }
    div[class="two-2"] .h1{
        margin-right: 4.8rem;}
        div[class="feature-3"]{
          
            background-color: #ffbb00;
        }
        .about-me{
            background-color: black;
            color: white;
            padding-top: 10rem;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
        .about-me div[class*='card'] .right{
            padding:1em ;
            width:50%;
            font-weight: bolder;
            font-size: 1.5em;
            filter: blur(5px);
        }
        .about-me div[class*='card']{
            cursor: crosshair;
            position: relative;
            width:70vw;
            height: 50vh;
            background-color: white;
            color: black;
            font-family: 'Poppins';
            padding:1.5rem;
            border: .5px solid black;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: flex-end;
            transition: all 500ms ease;

        }
        .about-me div[class='card-1']{
            top:-100px;
            z-index:19;
            transform: rotate(-5deg);}
     .about-me div[class='card-2']{
                top:-150px;
                left:100px;
                z-index:18;
                transform: rotate(-10deg);}
      .about-me div[class='card-3']{
                    top:-270px;
                    left:-100px;
                    z-index:17;
                    transform: rotate(13deg);}
    .about-me div[class='card-4']{
            top:-370px;
            left:100px;
            z-index:16;
            transform: rotate(-5deg);}
            .about-me div[class='card-5']{
                top:-470px;
                left:-100px;
                z-index:15;
                transform: rotate(10deg);}
                .about-me div[class='card-6']{
                    top:-570px;
                    left:100px;
                    z-index:14;
                    transform: rotate(-7deg);}
    .about-me div[class*='card']:hover{
        transform: scale(1);

    }
                    
    .greeting{
        font-family: 'Poppins';
        width: 100%;
        padding: 2em;
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
        align-items: center; 
    }
    .greeting .left{
        font-size: 2em;
    }
    .greeting .right .bharad{
        font-size: 2em;
    }

@keyframes fade{
    100%{
        opacity:1;
    }

}
@media screen and (max-width:675px) {
    .nav-options,.sign-up{
        display: none;
    }
    .nav{
        display: block;
        position: relative;
    }
    .logo{
        text-align: center;
        margin-top: .1rem;
    }
    .menu{
        position: absolute;
        left:5%;
        display: inline;
    }
    .details{
        margin: 2rem 0 0 1rem;
    }
    .details .heading{
        font-size: medium;
    }
    .details .descp{
        display: none;
    }
    .details .descps{
        display: block;
        margin: 1rem;
        padding-left: .5rem;
    }
    .details .login{
        margin: 1rem .5rem ;
        padding:.3rem .5rem;
    }
}